<ng-template #content let-modal>
    <div class="container">
        <div class="modal-header" style="border: none">
            <h3>Add a Section</h3>
            <button class="close" (click)="modal.close('Cross click')">&times;</button>
        </div>
        <div class="modal-body">
            <input name="sectionTitle" type="text" [(ngModel)]="sectionTitle" />
            <button class="btn" name="sectionTitle" (click)="addSection(sectionTitle)">Submit</button>
        </div>
    </div>
</ng-template>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-xl-6">
        <div class="col">
            <div class="wrapper">
                <button class="section-button" (click)="open(content)">ADD CARD +</button>
            </div>
        </div>
        <div *ngFor="let section of sections">
            <div class="col">
                <app-section
                    [section]="section"
                    (openModal)="open($event)"
                    (deleteSection)="deleteSection($event)"
                ></app-section>
            </div>
        </div>
    </div>
</div>
            